doctype html
html
  head
    h1 hi
    :bundle(options = {type: "js", files: [
      {name: "ldcover"}
    ]})
    :bundle(options = {type: "css", files: [
    ]})
    :bundle(options = {type: "block", embed: true, files: [
      {name: "sample"}
    ]})
