doctype html
html
  head
  body
    h1 hi
    script
      include:lsc index.ls
      include @/ldview/dist/ldview.pug
      +scope("123")
        div hi
      -
        yaml("web/src/pug/sample.yaml")
