doctype html
html
  head
    +css([
      {name: "ldcover"},
      {name: "ldloader"}
    ], {pack: true})
    style(type="text/css"): :stylus
      html, body { width: 100%; height: 100%}
      h1 { color: #f00; }
  body
    span: :md
      # hi
      this is a test of markdown ( by marked ) generation.
    a(href=intlbase("someurl", "kr")) link to somurl kr version
    include @/ldview/index.pug
    script
      include:lsc index.ls
    +scope("123")
      div hi
    -
      yaml("web/src/pug/sample.yaml")

    +script([
      { name: "ldview" },
      { name: "ldcolor" },
      { name: "ldcover" },
      { name: "ldloader" }
    ], {pack: true})
