.ldcv: .base.w-640: .inner.card: .card-body.p-4
  script(type="@plotdb/block"): include:lsc index.ls
  h1 Hello!
  p(ld="msg") hi! this is a block which should be loaded through bundle.

  hr
  .btn.btn-primary(data-ldcv-set="") Close
